USE [master]
GO
/****** Object:  Database [qp_calificacionbd]    Script Date: 25/07/2019 12:08:28 ******/
CREATE DATABASE [qp_calificacionbd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qp_calificacionbd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\qp_calificacionbd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qp_calificacionbd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\qp_calificacionbd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qp_calificacionbd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qp_calificacionbd]
GO
USE [qp_calificacionbd]
GO
/****** Object:  User [qp_calificacion]    Script Date: 25/07/2019 12:08:29 ******/
CREATE USER [qp_calificacion] FOR LOGIN [qp_calificacion] WITH DEFAULT_SCHEMA=[qp_calificacion]
GO
ALTER ROLE [db_owner] ADD MEMBER [qp_calificacion]
GO
/****** Object:  Schema [qp_calificacion]    Script Date: 25/07/2019 12:08:29 ******/
CREATE SCHEMA [qp_calificacion]
GO
/****** Object:  Table [dbo].[qp_encuesta]    Script Date: 25/07/2019 12:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qp_encuesta](
	[id_encuesta] [int] IDENTITY(1,1) NOT NULL,
	[pregunta_encuesta] [nvarchar](max) NOT NULL,
	[id_marca_opcion_1] [int] NOT NULL,
	[id_marca_opcion_2] [int] NULL,
	[id_marca_opcion_3] [int] NULL,
	[id_marca_opcion_4] [int] NULL,
	[id_marca_opcion_5] [int] NULL,
	[fecha_creacion] [int] NULL,
	[hora_creacion] [int] NULL,
	[estado] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qp_marca]    Script Date: 25/07/2019 12:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qp_marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre_marca] [nvarchar](max) NOT NULL,
	[nombre_marca_interno] [nvarchar](max) NULL,
	[ruta_objeto_marca] [nvarchar](max) NOT NULL,
	[opcion_pregunta] [int] NULL,
	[id_tipo_marca] [int] NOT NULL,
	[fecha_creacion] [int] NULL,
	[hora_creacion] [int] NULL,
	[estado] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qp_score]    Script Date: 25/07/2019 12:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qp_score](
	[id_score] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_encuesta] [int] NOT NULL,
	[fecha_creacion] [int] NOT NULL,
	[hora_creacion] [int] NOT NULL,
	[parametro] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qp_tipo_marca]    Script Date: 25/07/2019 12:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qp_tipo_marca](
	[id_tipo_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_marca] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
